@import "../../utils/variables";
@import "../../utils/mixins";

$nav-height: 5.25rem;

main {
  margin-bottom: $nav-height;
}

nav {
  @include flex-row-center;

  position: fixed;
  background: $light;
  width: 100%;
  bottom: 0;

  height: $nav-height;
  padding: 0.5rem;

  & > * {
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 200%;
    height: 100%;

    box-shadow: 0 0 0.4rem $accent;

    z-index: 90;
  }

  a {
    @include flex-col-center;

    height: 100%;
    width: 0;
    flex: 1;
    padding: 0.25rem;

    text-decoration: none;
    color: $secondary;

    img {
      width: 100%;
      flex: 1;
      min-height: 0;
    }

    span {
      font-size: 0.8rem;
    }

    &.active {
      color: $accent;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
