@import "../../utils/variables";
@import "../../utils/mixins";

.news {
  @include flex-col;

  padding: 0 1rem;

  & > div {
    margin-top: 1.25rem;
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 0.3rem 0.3rem 1rem $secondary;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    @include flex-row-center;

    position: relative;

    padding: 0.25em;
    margin: 0;
    font-weight: normal;

    #week-id {
      position: absolute;
      font-size: 0.6em;
      font-weight: normal;
      right: 1em;
    }
  }
}
.week-bar {
  h2 {
    background: $accent;
    color: white;

    border-radius: 0.25rem 0.25rem 0 0;
  }

  .remark {
    border: 3px solid $accent;
    color: $accent;
    padding: 0.75em;
    margin: 0;
    white-space: pre-line;

    border-radius: 0 0 0.25rem 0.25rem;
  }

  .week {
    @include flex-row-center;

    border: 3px solid $primary;

    color: $secondary;
    font-size: 1.2rem;
    font-family: $accent-font;

    .day-cell {
      flex: 1;
      margin: 0;
      padding: 0.4em;
      position: relative;

      text-align: center;
      border-right: 3px solid $primary;

      &:last-child {
        border-right: 0;
      }

      &.disabled {
        color: $light;
        background: $secondary;
      }

      &.off {
        background: #00c04d;
        color: $light;
      }

      .day {
        font-size: 0.6rem;
        top: 0;
        left: 0.2em;
        position: absolute;
      }

      &.active {
        background: $primary;
        color: white;

        &::after {
          content: "今天";
          position: absolute;
          font-size: 0.6rem;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

.notifications {
  @include flex-col;

  padding: 0.75rem 1rem;

  background: $light;
  color: $accent;

  .notf-list {
    list-style: none;
    padding: 0;

    background: white;

    width: 100%;
    border: 3px solid $secondary;

    li {
      padding: 0.7rem 1rem;
      border-bottom: 3px solid $secondary;

      transition: 0.1s background-color, 0.1s color;

      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:active {
        background: $secondary;
        color: white;
      }

      h3,
      h4 {
        margin: 0;
      }

      h3 {
        color: $primary;
      }
    }
  }

  .actions {
    @include flex-row;
    justify-content: flex-end;

    width: 100%;
  }
}

.record-meter {
  background: $info;
  color: white;

  table {
    width: 100%;
    border: 3px solid $info;
    border-radius: 0.75rem;

    background: white;
    color: $dark;

    th,
    td {
      border: 2px solid $accent;
      padding: 0.25rem 0.4rem;
    }

    td {
      &.warning {
        color: #fb8c00;
      }
      &.danger {
        color: red;
        font-weight: bold;
        font-size: 1.1em;
      }
      &.fail {
        background: #544a4b;
        font-weight: bold;
        font-size: 1.2em;

        &::after {
          color: $dark;
        }
      }

      &::after {
        content: "次";
        font-size: 0.5em;
        margin-left: 0.25em;
        color: $secondary;
      }
    }
  }

  h3 {
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0.5rem;
  }
}
