@import "../../../utils/variables";

.timetable {
  h1 {
    text-align: center;

    .class-id {
      color: $info;
    }
  }

  table {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    th,
    td {
      border: solid 0.2rem $info;
      overflow-wrap: break-word;
      padding: 0.6em 0;
    }

    th {
      background: $primary;
      color: white;
      font-size: 1.3em;
    }

    td {
      white-space: pre-line;
      font-size: 1.1em;
      background: #fefff6;

      .subject {
        color: #3870b5;
        line-height: 1.1em;
        margin-bottom: 0.3em;
      }

      .teacher {
        color: $secondary;
        font-size: 0.6em;
      }
    }
  }
}
