$primary: #69ddffff;
$secondary: #847577ff;
$light: #f8fcdaff;
$dark: #000000ff;
$accent: #222e50ff;
$info: #7596ffff;

$default-font: "Noto Sans JP", "微軟正黑體", "Microsoft JhengHei", "Segoe UI",
  Tahoma, Geneva, Verdana, sans-serif;
$accent-font: "Yusei Magic", sans-serif;

$bar-height: 1.5rem;
$nav-height: 5.25rem;
