$primary: #69ddffff;
$secondary: #847577ff;
$light: #f8fcdaff;
$dark: #000000ff;
$accent: #222e50ff;

$default-font: "Noto Sans JP", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$accent-font: "Yusei Magic", sans-serif;
