@import "utils/variables";
@import "utils/mixins";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: $accent-font;
}

.App {
  @include flex-col;
  min-height: 100vh;

  overflow-x: hidden;

  main {
    @include flex-col;
    flex: 1;

    width: 100%;
    background: $light;
  }
}

.btn-icon,
.icon-left {
  width: 1.25em;
  margin-right: 0.5em;
}

button {
  @include flex-row-center;

  font-family: $default-font;

  background: $accent;
  color: white;

  padding: 0.2em 1em;
  border-radius: 0.4rem;
  font-size: 1.25rem;

  height: 3.25rem;

  border: 0;

  cursor: pointer;

  $transition-time: 0.3s;
  transition: color $transition-time, background-color $transition-time;

  box-shadow: 0 0.1rem 0.2rem $secondary;

  &:hover {
    background: $primary;
    color: $accent;
  }

  &:disabled {
    background: #efefef;
    color: $secondary;

    box-shadow: none;
    border: 1px solid $secondary;

    font-size: 1rem;
  }
}

a {
  color: $primary;
}

table {
  border-collapse: collapse;
}

.dialog-overlay {
  @include flex-col-center;

  position: fixed;
  top: 0;
  bottom: $nav-height;
  left: 0;
  right: 0;

  z-index: 80;

  padding: 5%;

  dialog {
    position: relative;
    background: $light;
    color: $accent;

    padding: 5%;
    width: 100%;

    border-radius: 0.5rem;
    border: 0.3rem solid $primary;

    min-height: 60%;
    max-height: 70%;

    overflow-y: scroll;
  }

  .dialog-close {
    position: absolute;
    width: 10%;
    right: 0.5rem;
    top: $bar-height + 0.6rem;
    z-index: 130;

    cursor: pointer;

    transition: 0.1s filter;

    &:active {
      filter: brightness(1.75);
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    background: $dark;

    opacity: 0.9;
  }
}

.muted-text {
  color: $secondary;
  font-size: 0.75em;
}

.hr-text {
  color: $secondary;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 51%;
    width: 25%;
    height: 1px;
    background: $secondary;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
