@import "utils/variables";
@import "utils/mixins";

header {
  @include flex-row-center;

  width: 100vw;

  background: $primary;
  color: $accent;

  position: relative;

  z-index: 95;

  & > * {
    z-index: 100;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    width: 200%;
    height: 100%;

    box-shadow: 0 0 0.8rem $accent;

    z-index: 90;
  }

  padding: 0.7rem 0;

  #icon {
    width: 2.5em;
    margin-right: 0.5em;
  }

  h1 {
    margin: 0;
  }

  &.mini {
    $circle-height: $bar-height * 2;
    $icon-height: $circle-height * 3 / 5;

    height: $bar-height;

    #icon {
      position: absolute;

      top: ($circle-height - $icon-height) / 2 * 0.9;

      margin-right: 0;

      height: $icon-height;
      z-index: 120;
    }

    h1 {
      display: none;
    }

    &::before {
      content: "";

      top: 0;
      position: absolute;
      width: $circle-height;
      height: $circle-height;
      border-radius: 50%;
      background: $primary;

      z-index: 110;
    }

    &::after {
      display: none;
    }
  }
}
