@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex
    items-center
    justify-center
    bg-secondary
    text-white
    py-3
    px-7
    rounded-lg
    text-lg
    shadow
    transition-colors
    hover:bg-primary
    hover:text-secondary
    disabled:bg-gray-50
    disabled:text-browny
    disabled:border-2
    disabled:border-browny
    disabled:cursor-not-allowed;
  }
  .icon {
    @apply w-8
    mr-3;
  }
}
