@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply flex
    items-center
    bg-secondary
    text-white
    py-3
    px-7
    rounded-lg
    text-lg
    shadow
    transition-colors
    hover:bg-primary
    hover:text-secondary
    disabled:bg-gray-50;
  }
}
