@import "../../utils/variables";
@import "../../utils/mixins";

.login {
  @include flex-col-center;
  flex: 1;

  padding-bottom: 50px;

  .login-card {
    @include flex-col;

    $width: 290px;
    width: $width;
    height: $width * 1.5;

    position: relative;

    background: white;
    color: $dark;

    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.3rem $secondary;

    text-align: center;

    .login-btn-container {
      @include flex-col-center;
      flex: 1;
      #lh-icon {
        margin-top: 2px;
      }

      button {
        margin: 0.5rem 0;
      }
    }
  }
}
